
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from thunder-team.com/friend-finder/timeline.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 Feb 2017 13:15:29 GMT -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>Gerard & Jenny</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link href="~/css/emoji.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/images/paintBrush.png" />
</head>
<body>

    <!-- Header
    ================================================= -->
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index-register.html"><img src="~/images/LoveIcon.png" style="width:35px" alt="logo" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-menu">
                        <li><a href="/Profile/Introduction" style="color:#d11b0b" class="text-maroon">Home</a></li>
                        <li><a href="/Home/Index" style="color:#d11b0b" class="text-maroon">Newsfeed</a></li>
                        <li><a href="/Profile/Index" style="color:#d11b0b" class="text-maroon">Profile</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
    <!--Header End-->

    <div class="container">

        <!-- Timeline
        ================================================= -->
        <div class="timeline">
            <div class="timeline-cover">

                <!--Timeline Menu for Large Screens-->
                <div class="timeline-nav-bar hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="profile-info">
                                <img src="~/Uploads/Profile/@Session["ProfileImage"]" alt="" class="img-responsive profile-photo" />
                                <h3 class="capital" style="color:white">@Session["Name"]</h3>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-inline profile-menu">
                                <li>@Html.ActionLink("Timeline", "Index", "Profile") </li>
                                <li>@Html.ActionLink("About", "About", "Profile")</li>
                            </ul>
                        </div>
                    </div>
                </div><!--Timeline Menu for Large Screens End-->
                <!--Timeline Menu for Small Screens-->
                <div class="navbar-mobile hidden-lg hidden-md">
                    <div class="profile-info">
                        <img src="~/Uploads/Profile/@Session["ProfileImage"]" alt="" class="img-responsive profile-photo" />
                        <h4 style="color:white">@Session["Name"]</h4>
                    </div>
                    <div class="mobile-menu">
                        <ul class="list-inline">
                            <li><a href="/Profile/Index" style="color:white">Timeline</a></li>
                            <li><a href="/Profile/About" style="color:white">About</a></li>
                        </ul>
                    </div>
                </div><!--Timeline Menu for Small Screens End-->

            </div>
            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3"></div>

                    @RenderBody()

                    @*<div class="col-md-2 static">
                            <div id="sticky-sidebar">
                                <h4 class="grey">Sarah's activity</h4>
                                <div class="feed-item">
                                    <div class="live-activity">
                                        <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                                        <p class="text-muted">5 mins ago</p>
                                    </div>
                                </div>
                                <div class="feed-item">
                                    <div class="live-activity">
                                        <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                                        <p class="text-muted">an hour ago</p>
                                    </div>
                                </div>
                                <div class="feed-item">
                                    <div class="live-activity">
                                        <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                                        <p class="text-muted">4 hours ago</p>
                                    </div>
                                </div>
                                <div class="feed-item">
                                    <div class="live-activity">
                                        <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                                        <p class="text-muted">a day ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-wrapper">
                    <div class="col-md-4 col-sm-4">
                        <a href="#"><img src="~/images/LoveIcon.png" style="width:50px;margin-left:62.5px" alt="" class="footer-logo" /></a>
                        <h3>Gerard & Jenny</h3>
                    </div>
                    <div class="col-md-3 col-sm-3">
                    </div>
                    <div class="col-md-2 col-sm-2">
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <img src="~/images/heartballoon.png" style="width:50%" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Gerard&Jenny © 2017. All rights reserved</p>
        </div>
    </footer>

    <!--preloader-->
    @*<div id="spinner-wrapper">
            <div class="spinner"></div>
        </div>*@

    <!-- Scripts
    ================================================= -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.sticky-kit.min.js"></script>
    <script src="~/js/jquery.scrollbar.min.js"></script>
    <script src="~/js/script.js"></script>

</body>

<!-- Mirrored from thunder-team.com/friend-finder/timeline.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 Feb 2017 13:16:47 GMT -->
</html>


